
/*animacion de antrada de el protagonista contra el jefe final en el index*/

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translate(200px)
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes from-left {
    0% {
        opacity: 0;
        transform: translate(-200px)
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}


/*animacios derecha*/
.anima {
    animation: from-right 4s ease;
    margin-left: 100px;

}
/*animacion izq*/
.anima2 {
    animation: from-left 4s ease;
    margin-left: 100px;
}