
/*parrafo de la pagina mobile */

.descriptionGame {
    color: blueviolet;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
    word-spacing: 0px;
    margin: 30px 20px;
    font-family: 'Oswald', sans-serif
}
/*descripcion de la portada manwha en index*/
.galeryDescription{

    color: blueviolet;
    text-align: center;
    font-size: 30px;
    line-height: 10px;
    letter-spacing: 5px;
    word-spacing: 0px;
    margin: 30px 20px;
    font-family: 'Oswald', sans-serif

}

    /*personajes html/descripcion de cada personaje*/

.descriptionCharacter {

    font-family: 'Chivo Mono', monospace;
    font-size: 20px;
    color: black;
    display: block;
    margin-right: 150px;
    margin-left: 20px;
    line-height: 30px;
    text-align: left;

}

/* parrafos y titulos de la pagina cosplay*/

.cosp {

    font-family: 'Chivo Mono', monospace;
    font-size: 40px;
    color: red;
    display: flex;
    flex-direction: wrap;
    text-align: center;


}

.cosplays {

    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    max-width: 100%;

}

.cosplayers {

    flex: 30%;
    padding: 10px;


}

.cosplayers img {
    width: 100%;
    margin-top: 15px;


}
