.descriptionGame {

    color: blueviolet;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 10px;
    word-spacing: 10px;
    margin: 55px 40px;
    font-family: 'Oswald', sans-serif
}

.descriptionCharacter {

    font-family: 'Permanent Marker', cursive;
    font-weight: unset;
    font-size: 20px;
    color: black;
    display: block;
    margin-right: 150px;
    margin-left: 20px;
    line-height: 30px;
    text-align: left;

}