/*seccion de personajes*/

.manwha {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    max-width: 100%;

/*borde de la portada del manwha en index */

    .border2 {
        width: 100%;
        height: 500px;
        width: 500px;
        border-radius: 25%;
        margin: 100px 50px;

    }


}
 /*div class de la portada del manwha en index */

.columna2 {
    background-color: black;
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 50px;


}
/*contenedor de imagenes en cosplay*/
.portada2 {

    margin: 15px;
    padding: 25px;
    background-color: black;

}