

/*.titulos.*/



h1 {
    color: blueviolet;
    font-size: 60px;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    border: 50px solid blueviolet;

}

h2 {

    color: red;
    font-size: 60px;
    font-family: sans-serif;
    margin: 100px 30px 100px 30px;
    text-align: center;

}

h3 {

    font-size: 50px;
    margin: 0 auto;
    color: black;
}
