/*.titulos principal*/
h1 {
    color: blueviolet;
    font-size: 60px;
    text-align: center;
    padding: 60px;
    border: 5px solid blueviolet;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Sedgwick Ave Display', cursive;
    line-height: 100px;
}

/*titulos secundarios*/

h2 {

    color: red;
    font-size: 45px;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 100px 30px 100px 30px;
    text-align: center;
    line-height: 100px;

}

/*tercer titulo en footer*/

h3 {
    font-size: 35px;
    margin: 0 auto;
    color: black;
}
